{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Your Bookings</h1>
  <div class="card-group">
    {% for concert in concerts %}
    <div class="card mx-3 mb-4">
      <img
        class="card-img-top"
        src="{{ concert.EventImage }}"
        alt="{{ concert.EventName }} Image"
      />
      <div class="card-body">
        <h5 class="card-title">{{ concert.EventName }}</h5>
        <p class="card-text">{{ concert.EventDesc }}</p>
        <p class="card-text">Tickets: {{ tickets[loop.index-1].TicketQuantity }}</p>

      </div>
      <div class="card-footer">
        <a
          href="{{ url_for('bookings.edit', id=concert.id) }}"
          class="btn btn-primary"
        >
          Edit Booking
        </a>
        <a
          href="{{ url_for('bookings.delete', id=concert.id) }}"
          class="btn btn-danger"
        >
          Cancel Booking
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
