{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img src="website/static/image/header.jpeg" class="img-fluid" alt="Header Image">
    <h2 class="mb-4">My Events</h2>
    <p class="lead">Here are your events. Manage and explore them below:</p>

    <a href="{{ url_for('events.create_event') }}" class="btn btn-primary">Create a New Event</a>

    <div class="card-group mt-4">
        {% for event in user_events %}
        <div class="card mx-3">
            <img class="card-img-top" src="{{ event.EventImage }}" alt="Event Image" />
            <div class="card-body">
                <h5 class="card-title">{{ event.EventName }}</h5>
                <p class="card-text">{{ event.EventDesc }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('events.edit_event', id=event.id) }}" class="btn btn-primary">Edit Event</a>
                <a href="{{ url_for('events.delete_event', id=event.id) }}" class="btn btn-danger">Delete Event</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
